.gallery-wrap {
  .img-big-wrap {
    img {
      cursor: zoom-in;
      display: inline-block;
      height: 450px;
      width: auto;
    }
  }

  .img-small-wrap {
    text-align: center;

    .item-gallery {
      border: 1px solid #ddd;
      display: inline-block;
      height: 60px;
      margin: 7px 2px;
      overflow: hidden;
      width: 60px;
    }

    img {
      border-radius: 4px;
      cursor: zoom-in;
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
}
