/* TYPOGRAPHY */

@font-face {
  font-family: TradeGothic;
  src: url('../fonts/trade-gothic/TradeGothic.ttf');
}

@font-face {
  font-family: TradeGothicBold;
  src: url('../fonts/trade-gothic-bold/TradeGothic-Bold.otf');
}
